/* font & reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff8f0;
    color: #3e2723;
  }

  h1, h2, h3 {
  font-family: "Playfair Display", serif;
   }
/* nav-bar */
header {
  background-color: #4e342e;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: #fff8f0;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link a:hover {
  color: #d7b377;

}

  


